.header {
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #242425;
    position: sticky;
    top: 0;
    /* z-index: 100; */
}

.header__logo {
    object-fit: contain;
    height: 60px;
}

.header__search {
    display: flex;
    flex: 2;
    margin: 0 10px 0 10px;
}

.header__searchInput {
    flex: 1;
}

.header__searchIcon {
    background-color: #62d2a2 !important;
    /* padding: 0 5px !important; */
}

.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navIcon {
    color: white;
    margin: 0 10px 0 10px;
}
